<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165370766154-2t783s6m6rhe93gh63aie3j643jc9kqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165370766154-2t783s6m6rhe93gh63aie3j643jc9kqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAH7z6P31DzjDLmQPnxFH-pY2TXKM4rqaA</string>
	<key>GCM_SENDER_ID</key>
	<string>165370766154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildingMaterialsApp</string>
	<key>PROJECT_ID</key>
	<string>ay-building-materials</string>
	<key>STORAGE_BUCKET</key>
	<string>ay-building-materials.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165370766154:ios:3715123fff4f021aa0d7b3</string>
</dict>
</plist>